# =========================
# Rust / Cargo
# =========================
/target/
**/*.rs.bk
Cargo.lock

# =========================
# Downloaded data (SEC)
# =========================
sec_data
sec_data/*
companyfacts.zip
submissions.zip

companyfacts/
submissions/

# =========================
# Logs / temp files
# =========================
*.log
*.tmp

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db

# VS Code
.vscode/

# JetBrains
.idea/

# Neovim
.nvim/

# =========================
# Other
# =========================
.env
